<!DOCTYPE html>
<html>
<head>
<style>
* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
	grid-area: header;
	background-color: #f1f1f1;
	padding: 30px;
	text-align: center;
	font-size: 35px;
}

/* The grid container */
.grid-container {
	display: grid;
	grid-template-areas: 'header header header header header header'
		'left middle middle middle middle right'
		'left middle middle middle middle right'
		'left middle middle middle middle right'
		'left middle middle middle middle right'
		'footer footer footer footer footer footer';
	grid-column-gap: 10px;
	height: 100vh;
}

.left, .middle, .right {
	padding: 10px;
}

/* Style the left column */
.left {
	grid-area: left;
}

/* Style the middle column */
.middle {
	grid-area: middle;
}

/* Style the right column */
.right {
	grid-area: right;
}

/* Style the footer */
.footer {
	grid-area: footer;
	background-color: #f1f1f1;
	padding: 10px;
	text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media ( max-width : 600px) {
	.grid-container {
		grid-template-areas: 'header header header header header header'
			'left left left left left left'
			'middle middle middle middle middle middle'
			'right right right right right right'
			'footer footer footer footer footer footer';
	}
}
</style>
</head>
<body>

	<div class="grid-container">
		<div class="header">
			<h2>Proto RSS statistics</h2>
		</div>

		<div class="left" style="background-color: #aaa;"></div>
		<div class="middle" style="background-color: #fff;">
			<p th:text="'Channel(s) registered: ' + ${nrOfChannels}"></p>
			<!-- p th:text="'Average channel title lenght: ' + ${avgChannelTitleLenght}"></p>
			<p th:text="'Average channel description lenght: ' + ${avgChannelDescriptionLenght}"></p -->
			<br>
			<p th:text="'Total items: ' + ${nrOfItems}"></p>
			<p th:text="'Total categories: ' + ${nrOfCategories}"></p>
			<p th:text="'Distinct categories: ' + ${nrOfDistinctCategories}"></p>

		</div>
		<div class="right" style="background-color: #aaa;"></div>

		<div class="footer">
			<p>All the things you never needed to know but less !</p>
		</div>
	</div>

</body>
</html>
